body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  height: 160px;
  display: flex;
  text-align: left;
}

.card-image {
  margin-right: 20px;
}

.card-image img {
  height: 140px;
}

.card-title {
  font-size: 20px;
  padding: 10px 5px;
}

.info-outer {
  overflow: auto;
}

.card .info-wrapper {
  display: flex;
}

.card .info-wrapper .name,
.card .info-wrapper .value {
  padding: 3px 3px;
}

.card .info-wrapper .value {
  word-break: break-word;
}

.card .info-wrapper .name {
  text-transform: capitalize;
  width: 70px;
}

.card .info-wrapper .value:before {
  content: ": ";
}

.card-wrapper-title {
  text-align: center;
  font-size: 44px;
  margin: 50px 0;
}

.card-wrapper {
  text-align: center;
  width: 100%;
}

.card-wrapper-search {
  padding: 10px;
  width: 70%;
  margin-bottom: 50px;
}

.card-body {
  margin-top: 260px;
}

.sticky-header {
  position: fixed;
  width: 50%;
  background: #ffffff;
  box-shadow: 10px 3px 10px 0px #bbbbbb;
  border-left: 1px solid black;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: block;
  }
  .card {
    height: auto;
  }
  .card-body {
    margin-top: auto;
  }

  .sticky-header {
    width: 100%;
    position: initial;
    box-shadow: none;
    border: none;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    display: block;
  }

  .card-title {
    text-align: center;
  }

  .card .info-wrapper {
    display: block;
  }

  .card .info-wrapper .name {
    width: 100%;
    text-align: center;
  }

  .card .info-wrapper .value {
    text-align: center;
  }

  .card .info-wrapper .value:before {
    content: "";
  }

  .card-image {
    text-align: center;
    margin: auto;
  }
}
