body {
  font-family: "Roboto", sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 700px;
  margin: 10px;
}

.card {
  display: flex;
  text-align: left;
}

.card-image {
  margin-right: 20px;
}

.card-image img {
  height: 140px;
}

.card-title {
  font-size: 20px;
  padding: 10px 5px;
}

.info-outer {
  overflow: auto;
}

.card .info-wrapper {
  display: flex;
  line-height: 3px;
}

.card .info-wrapper .name,
.card .info-wrapper .value {
  padding: 10px 5px;
}

.card .info-wrapper .name {
  text-transform: capitalize;
}

.card .info-wrapper .name:after {
  content: ":";
}
